#                                                                #
#                          @@@@@@@@@@@@@@@@@@                    #
#                         @@@@@@@@@@@@@@@@@@@@                   #
#                       @@@@@@@@@@@@@@@@@@@@@@                   #
#                      @@@@@@@@@@@@@@@@@@@@@@@                   #
#          @@@@@@      @@@@@@@@@@@@@@@@@@@@@@       @     @      #
#            @@@@      @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@     #
#              @@    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     #
#                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     #
#                 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     #
#                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     #
#       @@@ @@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@     #
#      @@@@  @@@@@@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@       #
#      @@@@     @@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@        #
#      @@@@       @@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@      #
#       @@@@@@@@@@@@@        @@      @@@@@@@@@@@@@@@@@@@@        #
#          @@@@@@@@@@@      @@@       @@@@@   @@@@@@             #
#          @@@@@@@@@@@@@    @@@@@@    @@@     @@@@@@@@           #
#          @@@@@@@@@@@@@@@@ @@@@@@@@ @@@       @@@@@@@@@         #
#                                    @@@@@@@@@                   #
#                                     @@@@@@@@                   #
#                                     @@@@@@@@@@@@@@@@           #
#                           @@@       @@@@@@@@@@@@@@@@           #
#                           @@@@@@    @@@@@@@@@@@@@@@@           #
#                           @@@@@@@@ @@     @@@@@@@@@@           #
#                           @@@@@@@@@@        @@@@@@@@           #
#                           @@@@@@@@@           @@@@@@           #
#                                                 @@@@           #
#                                                   @@           #
#                                                                #
#	NERV AP80 Pro Max Version 1.1 (20260109)
#	Epps.nl - eppsnl@gmail.com
#   CC-BY-SA
#	Theme: NERV by EppsNL (from Innioasis-y1-rockbox-themes)
#	Adapted for Hidizs AP80 Pro Max by Arena Agent
#	Based on Snarty by Simon Andén, which was based on SPAZZ by Chuck Lardo & Spinoffs SNAZZ/SNAZZ2 by Jihoon Kim and SNAZZY by Phil Graves
#	Target resolution: 360x640
#	Made specifically for Hidizs AP80 Pro Max
#
#__CFG File
wps: /.rockbox/wps/NERV_AP80.wps
sbs: /.rockbox/wps/NERV_AP80.sbs
fms: -
iconset: /.rockbox/icons/NERV.bmp
viewers iconset: /.rockbox/icons/NERV_viewer.bmp
font:  /.rockbox/fonts/35-KodeMonoMPlus2-SemiBold.fnt

#--- General Settings ---#
background color: 000000
foreground color: 00e5ff
backdrop: -
filetype colours: -
show icons: on
selector type: bar (inverse)
scrollbar: off

#--- EXTRAS REMOVE # To Enable ---#
#--- Time/Brightness/Keyclick ---#
#brightness: 32
time format: 24hour
#hardware keyclick: on

#--- LCD Settings ---#
#backlight on button hold: on

#--- Peak Meter ---#
#peak meter clip hold: 1
#peak meter hold: 300ms
#peak meter release: 6
#peak meter dbfs: off
#peak meter min: 0
#peak meter max: 100
#peak meter clipcounter: on
#peak meter scale: linear (%)

#--- Quickscreen ---#
#qs top: brightness
#qs left: shuffle
#qs right: repeat
#qs bottom: brightness
#

list padding: 0
